.vs/*
Outlook Calendar Sync/[Bb]bin/*
Outlook Calendar Sync/[Oo]bj/*
/*.user


client_secret.json
.vs/Outlook Calendar Sync/v15/.suo
/Outlook Calendar Sync/bin/Debug
/Outlook Calendar Sync/bin/Release
/Outlook Calendar Sync/publish
